# Python
__pycache__/
*.pyc

# Environment
.env
venv/
.venv/

# Streamlit
.streamlit/secrets.toml

# Generated media
audio/
videos/
uploads/
exports/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

/analysis/

