# Python
__pycache__/
*.pyc

# Environment
.env
venv/
.venv/

# Streamlit
.streamlit/secrets.toml

# Generated media
audio/
videos/
uploads/
exports/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

/analysis/

/chat_history/
/transcripts/d5241d3e-adac-40fd-ad7b-b4de56136f67.txt
